.large-hero {
  border-bottom: 10px solid $mainBlue;
  position: relative;

  &__image {
    display: block;
  }

  &__text-content {
    padding-top: 88px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;

    @mixin atMedium {
      padding-top: 60px;
    }
  }

  &__title {
    font-weight: 300;
    color: $mainBlue;
    margin: 0;
    font-size: 2.4rem;

    /*Next screen size bigger than mobile: atSmall is screen size 530px and higher*/
    @mixin atSmall {
      font-size: 4.8rem;
    }

 /*Saying if a screen is larger than 530px then this code below happens
    @media (min-width: 530px) {
      font-size: 4.8rem;
    }*/
  }

  &__subtitle {
    /*These characteristics are for at smallest screens*/
    font-weight: 300;
    color: $mainBlue;
    font-size: 1.5rem;
    margin: 0;

    /*These characteristics are for at small screens*/
    @mixin atSmall {
      font-size: 2.9rem;
    }
  }

  &__description {
    color: #FFF;
    font-size: 1.1rem;
    font-weight: 100;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;

    @mixin atSmall {
      font-size: 1.875rem;
    }

  }

}
